$def with (patterns)
  $code:
    def show_patterns(patterns):
        s = ''
        for e in patterns:
            if type(e) is list:
                s += show_patterns(e)
            else:
                s += show_pattern(e)
        return s

    def show_pattern(p):
        s = '<a href="/play?pattern='+p+'">\n' + \
            '\t<img class="pattern" data-pattern="'+p+'" alt="pattern" ' + \
            'src="'+path_join(config['pattern_dir'],p)+'">\n' + \
            '</a>\n'
        return s

  <div id='header'>
    <h1>Bemis 100</h1>
  </div>
  
  <div id='liveview'>
    <canvas id='canvas' width='830' height='50'></canvas>
    <div id='controls'>
      <a class='pause' href='#'>Pause</a> &nbsp;&nbsp;|&nbsp;&nbsp;
      <a class='next' href='#'>Next</a>
    </div>
  </div>
  
  <div id='queue'>
  	<h2>Queue</h2>
  	<ul>
  	</ul>
  </div>
  
  <div id='patterns'>
  	<h2>Patterns</h2>
  	$:show_patterns(patterns)
  </div>
  
  <div id='upload'>
    <form action='/upload' method='post' enctype="multipart/form-data">
      <label for='pattern'>Upload a pattern</label>
      <input type='file' name='pattern'>
      <input type='submit' value='Upload'>
    </form>
  </div>
