$def with (content)
<!DOCTYPE html>
<html>
<head>
  <title>LEDWeb Alpha</title>
  <link href='/static/stylesheets/bemis100.css' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
  <script src='/static/javascripts/jquery-1.5.min.js'></script>
  <script src='/static/javascripts/bemis100.js'></script>
  <script src='/static/javascripts/bemis100_canvas.js'></script>
  <script src='/static/javascripts/muro.js'></script>
</head>

<body>  
  <div id='content'>
    $:content
  </div>
</body>
</html>